* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
.banner_contain {
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) , url('../resources/Banner\ Image.png');
    padding: 177px 344px;
    background-repeat: no-repeat;
    margin: 50px 140px 120px 140px;
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .banner_title {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather';
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 auto;
  }

.banner_text{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather';
    font-size: 50px;
    font-style: normal;
    font-weight: 900px;
}

.middle_1{
    color: #F00;
    text-align: center;
    font-family: 'Inter';
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.middle_2{
    color: #F00;
    text-align: center;
    font-family: 'Inter';
    font-size: 17px;
    margin-top: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.middle_3{
    color: #070211;
    text-align: center;
    font-family: 'Inter';
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.middle_img{
    width: 802.9px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
}

.welcome_banner_contain {
    height: 550px;
    width: 1100x;
    margin: 100px 100px 120px 100px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) , url(../resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    position: relative;
}


.welcome_title {
    width: 642px;
    color: #fff;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    margin-left: 90px;
    margin-top: 100px;
    font-family: 'Merriweather', serif;
  }
.welcome_text{
    width: 697px;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-left: 90px;
    margin-bottom: 48px;
}
.join_h {
    color: #fff;
    text-align: left;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    margin-left: 150px;
    text-transform: uppercase;
    text-decoration: none;
 }

.welcome_banner_img{
    margin-top: 70px;
    margin-right: 100px;
}
.park_section {
    margin: 120px 140px;
    border-radius: 16px;
    background: linear-gradient(
      180deg,
      rgba(255, 0, 0, 0.1) 0%,
      rgba(255, 0, 0, 0) 100%
    );
    padding: 100px 385px 110px 386px;
  }
  .new_park{
    color: #070211;
    width: 600px;
    text-align: center;
    margin-left: -130px;
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
  }
  .park_style {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
  }

.botton-text{
    width: 180px;
    height: 55px;
    line-height: 56px;
    text-align: center;
    border: none;
    color: #fff;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    background: #F00;
    margin-top: 48px;
    margin-left: 70px;
    cursor: pointer;
}
.new_offer_section{
    display: flex;
    justify-content: space-between;
    background: #fff;
    margin: 120px 140px;
}
.offer_title{
    color: #F00;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 500;
}
.offer_title_two{
    color: #070211;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 14px;
    margin-bottom: 22px;
}
.offer_text{
    width: 350px;
    color: rgba(7, 2, 17, 0.6);
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}
.offer_img {
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 463px;
    border: 15px solid #F00;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -70px;
    margin-left: 55px;
  }

  .year2024 {
    font-family: 'Inter';
    font-size: 48px;
    margin-left: 80px;
    font-weight: 700;
    color: #F00;
  }
  .year_text {
    width: 350px;
    color: rgba(7, 2, 17, 0.6);
    font-family: 'Inter';
    font-size: 15px;
    margin-top: 15px;
    margin-left: 80px;
    font-weight: 400;
    line-height: 20px;
  }
  .offer_img_two {
    width: 140px;
    height: 140px;
    margin-left: 80px;
    margin-top: 30px;
  }
  .holiday_contain {
    margin: 120px 140px;
    padding-top: 68px;
    padding-bottom: 426px;
  }
  .holiday_title {
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 500;
    color: #070211;
    text-align: center;
  }
  .Holidays {
    color: #F00;
  }
  .holiday_title_two {
    color: #070211;
    font-family: 'Merriweather';
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 28px;
  }
  .holiday_text {
    width: 750px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Inter';
    font-size: 15px;
    line-height: 20px;
    color: rgba(7, 2, 17, 0.6);
    font-weight: 500;
  }
  .holiday_img1 {
    margin: 120px 140px;
    height: 200px;
    border-radius: 16px 0px 16px 16px;
    background: #f00;
    padding-bottom: 68px 0;
    position: relative;
    top: -50px;
  }
  .holiday_img_2 {
    position: absolute;
    height: 100px;
    top: -150px;
    right: 500px;
    left: 100px;
  }
  .holiday_imgg_3{
    position: absolute;
    right: 0px;
    top: -433px;
  }
  .dis_img {
    width: 206.841px;
    height: 206.841px;
    top: -346px;
    right: 378px;
    position: absolute;
  }
  .protfolio_content1 {
    margin: 120px 140px;
    margin-top: 50px;
  }
  .protfolio_title {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: #f00;
    font-weight: 500px;
  }
  .protfolio_middle {
    font-family: 'Merriweather', serif;
    font-size: 48px;
    color: #070211;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 22px;
  }
  .protfolio_text {
    width: 896px;
    color: rgba(7, 2, 17, 0.6);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
  }
  .portfolio-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1320px;
    height: 800px;
    max-height: 800px;
    margin: 0;
    padding: 0;
}

.subscribe_section {
    max-width: 1320px;
    height: 600px;
    max-height: 600px;
    margin: 120px 140px;

    border-radius: 16px;
    background-color: #FFF2F2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribe-text {
    margin: 0 212px;
    padding: 48px 40px;
}

#subscribe-title {
    margin-top: 20px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Merriweather';
    font-size: 45px;
    font-weight: 900;
}

#subscribe-dis {
    margin: 22px 0 0 0;
    text-align: center;
    font-family: 'Inter';
    width: 700px;
}

.subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border: none;
    padding: 15px;
    border-radius: 20px 0 0 20px;
    width: 400px;
    max-width: 400px;
}

.button-style {
    margin: 0 0 0;
    border: none;
    padding: 15px;
    background-color: red;
    color: #FFF;
    border-radius: 0 20px 20px 0;
}

.footer-section {
    width: 1320px;
    height: 500px;
    margin: 0 auto;
    background: #070211;
}

.footer-container {
    width: 1140px;
    margin: 0 auto;
}

.contact1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.item-1 p {
    margin-top: 10px;
    color: #FFF;
    font-size: 15px;
    font-family: 'Inter';
    font-weight: 500;
}

.item-2 p {
    margin-left: 200px;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    padding-right: 150px;
    font-family: 'Inter';
    cursor: pointer;
}

.footer-container hr {
    height: 1px;
    border: none;
    background: rgba(255, 255, 255, 0.15);
}

.social-media {
    
    text-align: center;
    padding: 30px;
    letter-spacing: 20px;
}

.icon {
    width: 50px;
    height: 50px;
}

.contact2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.item-3 p {
    color: #FFF;
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 500;
    margin-top: 50px;
}

.item-4 {
    color: #FFF;
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 50px;
}